input.stats-input {
  font-family: "11S01 Black Tuesday", sans-serif;
  font-size: 50px;
  width: 125px;
  margin-bottom: 15px;
  text-align: center;
}
input.display1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media only screen and (min-width: 1200px) {
  input.display1 {
    font-size: 5rem;
  }
}
.main-info {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 930px) {
  .main-info {
    flex-wrap: wrap;
    justify-content: center;
  }
}
input.bold-input {
  font-weight: bolder;
}
input.name-input {
  width: 45vw;
  margin-bottom: 10px;
  min-width: 210px;
  height: 13vh;
}
input.number-input {
  width: 125px;
}
input.nationality-input,
input.position-input {
  width: 20vw;
  min-width: 120px;
  margin-bottom: 10px;
}
input.position-input {
  margin-left: 26px;
}
.submit-button {
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.header-dropdown:focus {
  box-shadow: unset !important;
}
a.dropdown-item.header-dropdown-item:active {
  color: #3f3f3f;
  background-color: #ffffff;
}
::-webkit-file-upload-button {
  cursor: pointer;
}
.image-input {
  height: 530px;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.editable-image {
  opacity: 0.5;
  cursor: pointer;
}
.upload-icon {
  position: absolute;
  pointer-events: none;
}
.header-search-field {
  max-width: 500px;
}

.stats-card {
  margin-bottom: 30px;
}