<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #3f3f3f; margin-bottom: 50px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <div style="display: flex; align-items: center">
        <img src="/static/images/logo.svg" style="width: 35px; height: 35px" />
        <span>ELDb</span>
      </div></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seasons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Players</a>
        </li>
      </ul>
      <div style="width: 100%">
        <form class="d-flex" style="justify-content: center">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            style="max-width: 500px"
          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
      <div style="width: 20%"></div>

      <button
        class="btn dropdown-toggle header-dropdown"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="color: #fff;"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="dropdownMenuButton2"
        style="left: unset; right: 10px; margin-top: 10px;    padding: 10px;"
      >
        <li>
          <a
            class="dropdown-item active"
            style="color: #000; background-color: #ffc61b"
            href="#"
            >Season</a
          >
        </li>
        <li><a class="dropdown-item header-dropdown-item" href="#">Team</a></li>
        <li><a class="dropdown-item header-dropdown-item" href="/player/create">Player</a></li>
        <li><hr class="dropdown-divider header-dropdown-item" /></li>
        <li><a class="dropdown-item header-dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</nav>
