{% extends 'layout.html' %} {% block content %}{% from "macros/edit_icon.html"
import edit_icon_component with context %}{% from "macros/stats_card.html"
import stats_card_component with context %}{% from 'bootstrap5/form.html' import
render_field %}
<div class="container-fluid">
  <a href="{{'/player/' ~ player.id ~ '/edit' if request.path == '/player/' ~ player.id else '/player/' ~ player.id}}"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      position: absolute;
      right: 30px;
    "
  >
    {{edit_icon_component()}}
    {%if request.path == '/player/' ~ player.id %}
    <p>Edit</p>
    {%else %}
    <p>Close</p>
    {%endif%}
</a>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div style="display: flex; align-items: center; margin-bottom: 50px">
      <img
        src="{{player.image_source}}"
        class="card-img-top"
        style="object-fit: contain; max-width: 350px; margin: auto"
        alt="..."
      />
      <div style="margin-left: 20px">
        <h1 class="display-1" style="margin-bottom: unset">
          {%if  request.path == '/player/' ~ player.id ~ '/edit' %} {{form.name_value(class="form-control display1
          name-input")}} {{form.surname_value(class="form-control display1
          name-input")}} {%else %} {{player.name}} {{player.surname}} {% endif
          %}
        </h1>
        <div style="display: flex; flex-direction: column">
          <span
            style="
              font-family: '11S01 Black Tuesday', sans-serif;
              font-size: 50px;
            "
            >{%if request.path == '/player/' ~ player.id ~ '/edit'%} {{form.number_value(class="form-control stats-input
            number-input")}} {%else%}#{{player.number}} {%endif%}</span
          >
          <div style="display: flex; flex-direction: column; margin-top: 10px">
            <span style="font-size: 20px; display: flex">
              Nationality:&nbsp; {%if request.path == '/player/' ~ player.id ~ '/edit'%}
              {{form.nationality_value(class="form-control bold-input
              nationality-input")}}{%else%}<strong
                >{{player.nationality}}</strong
              >{%endif%}</span
            >
            <span style="font-size: 20px; display: flex"
              >Position:&nbsp; {%if request.path == '/player/' ~ player.id ~ '/edit'%} {{form.position_value(class="form-control
              bold-input position-input")}} {%else
              %}<strong>{{player.position}}</strong>{%endif%}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
      "
    >
      {{stats_card_component(stats_name='Points', stats_value=player.points,
      form=form.points_value(class="form-control stats-input"))}}
      {{stats_card_component(stats_name='Rebounds', stats_value=player.rebounds,
      form=form.rebounds_value(class="form-control stats-input"))}}
      {{stats_card_component(stats_name='Assists', stats_value=player.assists,
      form=form.assists_value(class="form-control stats-input"))}}
      {{stats_card_component(stats_name='Steals', stats_value=player.steals,
      form=form.steals_value(class="form-control stats-input"))}}
      {{stats_card_component(stats_name='Blocks', stats_value=player.blocks,
      form=form.blocks_value(class="form-control stats-input"))}}
      {{stats_card_component(stats_name='Performance Index Rating',
      stats_value=player.performance_index_rating, font_size='30px;',
      line_height='75px;',
      form=form.performance_index_rating_value(class="form-control
      stats-input"))}}
    </div>
    <form action="" method="post">
      {%if request.path == '/player/' ~ player.id ~ '/edit'%}
      {{form.submit(class="btn btn-primary submit-button")}}
      {%endif%}
    </form>
  </div>
</div>
{% endblock %}
