{% macro card_component(title='Title', image_path='', description='') -%}
<div
  class="card"
  style="
    width: 18rem;
    background-color: #3f3f3f;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
  "
>
  <div style="height: 200px;     display: flex;">
    <img
      src="{{ image_path }}"
      class="card-img-top"
      style="
        max-height: 180px;
        object-fit: contain;
        max-width: 180px;
        margin: auto;
      "
      alt="..."
    />
  </div>
  <div
    class="card-body"
    style="display: flex; flex-direction: column; text-align: center"
  >
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">
      {{description}}
    </p>
    <a href="#" type="button" class="btn btn-outline-light">Visit</a>
  </div>
</div>
{%- endmacro %}
