{% macro card_component(title='Title', hyperlink='#', image_path='') -%}
<div
  class="card"
  style="
    width: 18rem;
    background-color: #3f3f3f;
    color: white;
    {{'margin-left: 20px;' if kwargs['instance'] != 'season'}}
    margin-bottom: 20px;
  "
>
  <div style="height: 200px;     display: flex; justify-content: center; align-items: center;">
    {% if kwargs['instance'] != 'season' %}
    <img
      src="{{ image_path }}"
      class="card-img-top"
      style="
        max-height: 180px;
        object-fit: contain;
        max-width: 180px;
        margin: auto;
      "
      alt="..."
    />{% else %}
              <span
            style="
              font-family: '11S01 Black Tuesday', sans-serif;
              font-size: 50px;
            "
            >{{title}}</span
          >
      {% endif %}
  </div>
  <div
    class="card-body"
    style="display: flex; flex-direction: column; text-align: center"
  >
    {% if kwargs['instance'] != 'season' %}
    <h5 class="card-title" style="    height: 30px;">{{title}}</h5>
    <p class="card-text">
      <div style="display: flex;
      flex-direction: column;
      {{'height: 100px;' if kwargs['instance'] == 'player'}}">
      {% if kwargs['instance'] == 'player' %}
      <span>Nationality: <strong>{{ kwargs['player_nationality'] }}</strong></span>
      <span>Number: <strong>{{ kwargs['player_number'] }}</strong></span>
      <span>Position: <strong>{{ kwargs['player_position'] }}</strong></span>
    {% endif %}
    </div>
    </p>
        {% endif %}
    <a href="{{ hyperlink }}" type="button" class="btn btn-outline-light">Visit</a>
  </div>
</div>
{%- endmacro %}
